<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ลงทะเบียนระบบ UVC</title>
</head>
<body>
    <main>
        <h1>กรุณากรอกรหัสประชาชน</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" id="cid-input">
            <button type="submit" id="cid-submit">ตรวจสอบ</button>
        </form>
    </main>
</body>
</html>